{% extends '::base.html.twig' %}

{% set menus = get_menus() %}

{% block body %}
<div id="container">
    <div id="header">
        <div class="nav">
            <ul>
                {% if not app.user %}
                    <li><a href="{{ path('jobz_front_security_login') }}">Login</a></li>
                    <li><a href="{{ path('jobz_front_security_register') }}">Registration</a></li>
                {% else %}
                    <li><a href="{{ path('jobz_front_security_logout') }}">Logout</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('jobz_front_jobadmin_index') }}">JOBS</a></li>
                        <li><a href="{{ path('jobz_front_categoryadmin_index') }}">CATEGORIES</a></li>
                        <li><a href="{{ path('jobz_front_informationadmin_index') }}">INFORMATIONS</a></li>
                        <li><a href="{{ path('jobz_front_menuadmin_index') }}">MENUS</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        {% if menus|length %}
        <div class="nav-menu">
                <ul>
                    {% for menu in menus if (menu.position == 'header' or menu.position == 'both') %}
                        <li><a href="{% if menu.route starts with '/' %}{{ menu.route }}{% else %}{{ path(menu.route) }}{% endif %}">{{ menu.title }}</a></li>
                    {% endfor %}
                </ul>
        </div>
        {% endif %}
        <div class="clearfix"></div>
        <div class="content">
            <h1>
                <a href="{{ path('jobz_front_front_home') }}"><img src="{{ asset('bundles/front/images/jobz.gif') }}"></a>
            </h1>
            <div id="sub_header">
                <div class="post">
                    <h2>
                        Ask for people
                    </h2>
                    <div>
                        <a href="{{ path('jobz_front_job_new') }}">Post a Job</a>
                    </div>
                </div>
                <div class="search">
                    <img src="{{ asset('bundles/front/images/ask.png') }}" alt="ask">
                    <h2>
                        Ask for a job
                    </h2>
                    <form action="{{ path('jobz_front_search_search') }}" method="get">
                        <input name="keywords" id="search_keywords" class="input" type="text"><input value="search" src="{{ asset('bundles/front/images/search.png') }}" class="but_search" type="image">
                        <div class="help">
                            Enter some keywords (city, country, position, ...)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="content">
            {% if menus|length %}
                <ul>
                    {% for menu in menus if (menu.position == 'footer' or menu.position == 'both') %}
                        <li><a href="{% if menu.route starts with '/' %}{{ menu.route }}{% else %}{{ path(menu.route) }}{% endif %}">{{ menu.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}