{% extends '@Front/layout.html.twig' %}

{% block content %}
    <h1>Categories list</h1>

    {% if categories|length %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('jobz_front_categoryadmin_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jobz_front_categoryadmin_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jobz_front_categoryadmin_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <span style="color: red">No Category</span>
    {% endif %}
    <ul>
        <li>
            <a href="{{ path('jobz_front_categoryadmin_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
